root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.{css,ts,tsx,md,json,cjs,mjs,js}]
indent_size = 2
tab_width = 2
insert_final_newline = true
